@use './global';
@use './normalize';
@use './shared';

main {
  height: 100%;

  h1 {
    text-align: center;
    font-weight: 600;
  }

  .fun-facts-list {
    padding: 5rem 3rem;

    li {
      margin-bottom: 3rem;
      font-size: 1.6rem;
      font-weight: 300;

      line-height: 1.5;

      strong {
        font-weight: 600;
      }

      a {
        vertical-align: middle;
        font-size: 1.4rem;
        color: blue;
        text-decoration: none;
      }

      .fun-fact-image-container {
        text-align: center;

        margin: 2.2rem auto;
        margin-bottom: 8rem;

        img {
          width: 100%;
        }
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        img {
          width: 90%;
        }
      }
    }
  }
}
